body {
	--color-tint: #2bf;
    --color-deepdark: #000;
    --color-softdark: #888;
    --color-tint2: #00bfff;
    background: var(--color-tint2); /* Fallback color if gradients are not supported */
    background: linear-gradient(172deg, var(--color-tint) 0, var(--color-deepdark) 42%, var(--color-softdark) 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: gradient 10s linear infinite; /* Adjust the animation duration as needed */
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
	max-width: 600px;
	text-align: center;
	padding: 50px 0;
}


h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 12px;
	font-weight: normal;
	margin: 20px 0;
}

.links {
	font-size: 22px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.links a {
	
	color: #ffffff;     
	text-decoration: none;
	margin: 0 10px;
}

.links a:hover {
	color: #aeadad; 
}

.fa {
	display: inline-block;
	margin: 0 10px;
}

.fa-envelope:before {
	content: "\f0e0";
}

.fa-github:before {
	content: "\f09b";
}

.fa-linkedin:before {
	content: "\f0e1";
}


.fa-google-drive:before {
	content: "\f3d2";
}

.fa-camera:before {
	content: "\f030";
}



footer p {
	text-align: center;
	
    
	color: rgb(50, 48, 48);
	width: 100%;
	margin: 0;
	padding: 5px 0;
}

/* Media query for mobile devices */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 71px;
  }
  
  h2 {
    font-size: 31px;
    margin-top: 95px;
    margin: 10px 0;
  }
  
  .links {
    font-size: 64px;
    margin-top: 45px;
  }
  
  .links a {
    margin: 0 10px;
  }
  
  .fa {
    margin: 0 10px;
  }
  .comp-logo{
	  display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.break-style{
		display:none;
	}
	.mob-logo{
		display:none;
	}
}
